section {
    padding: 0;
}

.clearfix {
    margin: 30px auto;
    width: 80%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 46%;
    margin: 0 2%;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
}

form {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    line-height: 1.5;
}

h3 {
    padding-bottom: 10px;
}

.nuovo_compito {
    padding: 20px 0 10px 0;
}

.task {
    padding-top: 10%;
}

.status label::after {
    content: '\2713';
    color: green;
    padding: 2px 5px;
    border: solid 1px green;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 5px;
}

#cross::after {
    content: '\2717';
    color: red;
    border-color: red;
}

.status label, .section label {
    margin-right: 10px;
}

.submit {
    padding-top: 15%;
}